@using BTCPayServer.Abstractions.Contracts
@using BTCPayServer.Abstractions.Extensions
@using BTCPayServer.Plugins.GhostPlugin.Data
@using BTCPayServer.Plugins.GhostPlugin.ViewModels.Models
@inject IScopeProvider ScopeProvider
@model GhostMembersViewModel
@{
    ViewData.SetActivePage(PluginNavPages.Index, "Ghost Members");
    var storeEmailSettingsConfigured = (bool)ViewData["StoreEmailSettingsConfigured"];
    var storeId = ScopeProvider.GetCurrentStoreId();
}


<div class="sticky-header">
    <h2 text-translate="true">@ViewData["Title"]</h2>
    <div class="d-flex gap-3 mt-3 mt-sm-0">
        <a id="page-primary" asp-action="Index" asp-controller="UIGhost" asp-route-storeId="@storeId" class="btn btn-primary" role="button">
            View Credentials
        </a>
    </div>
</div>
<partial name="_StatusMessage" />


<nav id="SectionNav" class="mb-3">
    <div class="nav">
        <a id="all-view"
           asp-action="List"
           asp-route-storeId="@storeId"
           class="nav-link @(!Model.Active && !Model.Expired && !Model.SoonToExpire ? "active" : "")"
           role="tab">All</a>
        @foreach (var state in Enum.GetValues(typeof(MemberSubscriptionState)).Cast<MemberSubscriptionState>())
        {
            @if (state == MemberSubscriptionState.Active)
            {
                <a id="@state-view"
                asp-action="List"
                asp-route-storeId="@storeId"
                asp-route-filter="active"
                class="nav-link @(Model.Active ? "active" : "")"
                role="tab">Active Subscription</a>
            }
            @if (state == MemberSubscriptionState.SoonToExpire)
            {
                <a id="@state-view"
                asp-action="List"
                asp-route-storeId="@storeId"
                asp-route-filter="aboutToExpire"
                class="nav-link @(Model.SoonToExpire ? "active" : "")"
                role="tab">About to Expire</a>
            }
            @if (state == MemberSubscriptionState.Expired)
            {
                <a id="@state-view"
                asp-action="List"
                asp-route-storeId="@storeId"
                asp-route-filter="expired"
                class="nav-link @(Model.Expired ? "active" : "")"
                role="tab">Expired Subscription</a>
            }
        }
    </div>
</nav>


@if(Model.DisplayedMembers != null && Model.DisplayedMembers.Any()){
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>
                        Email
                        @* <a asp-action="ListUsers"
                       asp-route-sortOrder="@(nextUserEmailSortOrder ?? "asc")"
                       class="text-nowrap"
                       title="@(nextUserEmailSortOrder == "desc" ? sortByAsc : sortByDesc)">
                        Email
                        <vc:icon symbol="actions-sort-alpha-@(userEmailSortOrder ?? nextUserEmailSortOrder ?? "desc")" />
                    </a> *@
                    </th>
                    <th>Tier</th>
                    <th>Tier Frequency</th>
                    <th>Created Date</th>
                    <th>Next Subscription Date</th>
                    <th class="actions-col"></th>
                    <th class="w-75px"></th>
                </tr>
            </thead>
            <tbody id="UsersList">
                @foreach (var member in Model.DisplayedMembers)
                {

                    var detailsId = member.Subscriptions.Any() ? $"user_details_{member.Id}" : null;
                    <tr id="user_@member.Id" class="user-overview-row mass-action-row">
                        <td>@member.Name</td>
                        <td>@member.Email</td>
                        <td>@member.TierName</td>
                        <td>@member.Frequency.ToString()</td>
                        <td>@member.CreatedDate.ToString("M/d/yy, hh:mm tt")</td>
                        <td>@member.PeriodEndDate.ToString("M/d/yy, hh:mm tt")</td>
                        <td class="actions-col">

                            @if (storeEmailSettingsConfigured && (DateTime.UtcNow.Date >= member.PeriodEndDate.UtcDateTime.Date ||
                            (member.PeriodEndDate.UtcDateTime.Date <= DateTime.UtcNow.AddDays(member.ReminderDay).Date && member.PeriodEndDate.UtcDateTime.Date > DateTime.UtcNow.Date)))
                            {
                                <div class="d-inline-flex align-items-center gap-3">
                                    <a asp-action="SendReminder" asp-route-storeId="@member.StoreId" asp-route-memberId="@member.Id">Send Reminder</a>
                                </div>
                            }
                        </td>
                        <td class="text-end">
                            @if (detailsId != null)
                            {
                                <button class="accordion-button w-auto collapsed only-for-js ms-0 d-inline-flex align-items-center gap-1" type="button" data-bs-toggle="collapse" data-bs-target="#@detailsId" aria-expanded="false" aria-controls="@detailsId">
                                    <span>View</span>
                                    <vc:icon symbol="caret-down" css-class="ms-0" />
                                </button>
                            }
                        </td>
                    </tr>
                    @if (detailsId != null)
                    {
                        @foreach (var subscription in member.Subscriptions)
                        {
                            <tr id="@detailsId" class="user-details-row collapse">
                                <td colspan="6" class="border-top-0">
                                    @if (member.Subscriptions.Any())
                                    {
                                        <ul class="mb-0 p-0 d-flex gap-4 list-unstyled">
                                            <li>
                                                @if (!string.IsNullOrEmpty(subscription.InvoiceId))
                                                {
                                                    <a asp-controller="UIInvoice" asp-action="Invoice" asp-route-invoiceId="@subscription.InvoiceId">
                                                        @subscription.InvoiceId
                                                    </a>
                                                }
                                                else if (!string.IsNullOrEmpty(subscription.PaymentRequestId))
                                                {
                                                    <a asp-controller="UIPaymentRequest" asp-action="ViewPaymentRequest" asp-route-payReqId="@subscription.PaymentRequestId">
                                                        @subscription.PaymentRequestId
                                                    </a>
                                                }
                                            </li>
                                            <li>@subscription.Amount @subscription.Currency</li>
                                        </ul>
                                    }
                                    else
                                    {
                                        <span class="text-secondary">No Subscription</span>
                                    }
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
}
else{
    <p class="text-secondary mt-4">No Ghost member record found</p>
}