@using BTCPayServer.Abstractions.Extensions
@using BTCPayServer.Abstractions.Services
@using BTCPayServer.Client
@using BTCPayServer.Controllers
@using BTCPayServer.Data
@using BTCPayServer.Plugins.Shopify.Models
@using BTCPayServer.Plugins.ShopifyPlugin.Data
@using Microsoft.AspNetCore.Routing
@model ShopifySetting
@{
    ViewData.SetActivePage(PluginNavPages.Index, "Shopify");
    var shopifyCredsSet = Model?.IntegratedAt.HasValue is true;
    var shopifyUrl = Model?.ShopifyUrl;
}

<div class="sticky-header">
    <h2 class="my-1">
        @ViewData["Title"]
        <small>
            <a href="https://docs.btcpayserver.org/Shopify" target="_blank" rel="noreferrer noopener" title="More information...">
                <vc:icon symbol="info" />
            </a>
        </small>
    </h2>
</div>

<partial name="_StatusMessage" />

@if (Model.HasWallet)
{
    <div class="row">
        <div class="col-xxl-constrain col-xl-8">
            <p>Connect BTCPay Server to your Shopify checkout experience to accept Bitcoin.</p>

            @if (!ViewContext.ModelState.IsValid)
            {
                <div asp-validation-summary="All"></div>
            }

            <form method="post" id="shopifyForm">
                <div class="form-group">
                    <label asp-for="ShopName" class="form-label"></label>
                    <div class="input-group">
                        @if (!Model?.ShopName?.Contains(".") is true)
                        {
                            <span class="input-group-text">https://</span>
                        }
                        <input asp-for="ShopName" class="form-control" readonly="@shopifyCredsSet" />

                        @if (!shopifyCredsSet || !Model?.ShopName?.Contains(".") is true)
                        {
                            <span class="input-group-text">.myshopify.com</span>
                        }
                    </div>
                    <span asp-validation-for="ShopName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ApiKey" class="form-label"></label>
                    <input asp-for="ApiKey" class="form-control" readonly="@shopifyCredsSet" />
                    <span asp-validation-for="ApiKey" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ApiSecret" class="form-label"></label>
                    <input asp-for="ApiSecret" class="form-control" type="password" value="@Model?.Password" readonly="@shopifyCredsSet" />
                    <span asp-validation-for="ApiSecret" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Password" class="form-label"></label>
                    <input asp-for="Password" class="form-control" type="password" value="@Model?.Password" readonly="@shopifyCredsSet" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                @if (shopifyCredsSet)
                {
                    <p class="alert alert-success">
                        Orders on <b>@Model.ShopName</b>.myshopify.com will be marked as paid on successful invoice payment.
                        Started: @Model.IntegratedAt.Value.ToBrowserDate()
                    </p>

                    <button name="command" type="submit" class="btn btn-danger mt-3" value="ShopifyClearCredentials">
                        Stop Shopify calls and clear credentials
                    </button>
                }
                else
                {
                    <button name="command" type="submit" class="btn btn-primary mt-3" value="ShopifySaveCredentials">
                        Save
                    </button>
                }
            </form>
        </div>
    </div>
}
else
{
    <div class="alert alert-warning alert-dismissible mb-4" role="alert">
        <p class="mb-0" style="font-size: 0.9rem;">
            To proceed with Shopify plugin on this store, you need to
            <a href="@Url.Action(nameof(UIStoresController.SetupWallet), "UIStores", new { cryptoCode = Model.CryptoCode, storeId = Model.StoreId })" class="alert-link">
                set up a wallet
            </a>
            first.
        </p>
    </div>
}

