@using BTCPayServer.Plugins.SimpleTicketSales.ViewModels
@using System.Globalization
@model CreateEventTicketViewModel
@{
    Layout = "_BaseSimpleTicketPublicLayout";
    ViewBag.Title = "Register for Event";
}

<style>
    #crowdfund-main-image {
        border-radius: var(--btcpay-border-radius);
        object-fit: cover;
        max-width: 100%;
        max-height: 40vh;
    }
    #crowdfund-body-description {
        font-size: 16px;
    }

    .perk.card .card-img-top {
        max-height: 210px;
        object-fit: scale-down;
    }
</style>

<div class="container mt-5">
    @if (!string.IsNullOrEmpty(Model.EventImageUrl))
    {
        <div class="d-flex justify-content-center mb-4">
            <img src="@Model.EventImageUrl" alt="@Model.EventTitle" id="crowdfund-main-image" class="img-fluid" asp-append-version="true" />
        </div>
    }
    <div class="text-center mb-5">
        <h1 class="mb-4">@Model.EventTitle</h1>

        <div class="d-inline-block">
            <span class="badge bg-info px-4 py-2 fs-6">@Model.EventDate.ToString("M/d/yy, hh:mm tt")</span>
        </div>
        <div class="mt-3">
            <span class="badge bg-success px-3 py-2 fs-5">
                Ticket Price: @Model.Currency @Model.Amount.ToString() 
            </span>
        </div>
        <div class="text-muted mt-2" id="crowdfund-body-description">@Model.Description</div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="POST">
                <div class="mb-3">
                    <label asp-for="Name" class="form-label">Full Name</label>
                    <input asp-for="Name" type="text" class="form-control" required>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Email" class="form-label">Email address</label>
                    <input asp-for="Email" type="email" class="form-control" required>
                    <div class="form-text">Kindly include a valid email as event details would be sent to the email provided.</div>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-success btn-md px-5">
                        Buy Ticket
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>