@using BTCPayServer.Abstractions.Extensions
@using BTCPayServer.Client
@using BTCPayServer.Plugins.ServerAlert.Data
@model BTCPayServer.Components.MainNav.MainNavViewModel


<li class="nav-item nav-item-sub" permission="@Policies.CanModifyServerSettings">
    <a asp-controller="UIServerAlert" asp-action="Index" layout-menu-item="@nameof(ServerAlertNavPages.ServerAlertIndex)">
        <span text-translate="true">Server Alerts</span>
    </a>
    @if (ViewData.IsCategory(nameof(ServerAlertNavPages)))
    {
        <ul style="list-style:none;">
            <li class="nav-item nav-item-sub">
                <a layout-menu-item="@nameof(ServerAlertNavPages.ServerAlertIndex)" asp-controller="UIServerAlert" asp-action="Index"
                   text-translate="true">Index</a>
            </li>
            @* <li class="nav-item nav-item-sub">
                <a layout-menu-item="@nameof(ServerAlertNavPages.ServerAlertSettings)" asp-controller="UIServerAlert" asp-action="Settings"
                   text-translate="true">Settings</a>
            </li> *@
            <li class="nav-item nav-item-sub">
                <a layout-menu-item="@nameof(ServerAlertNavPages.ServerAlertMonitor)" asp-controller="UIServerAlert" asp-action="ServerMonitorSettings"
                   text-translate="true">Monitor</a>
            </li>
        </ul>
    }
</li>