@using BTCPayServer.Plugins.SimpleTicketSales.Data
@using BTCPayServer.Plugins.SimpleTicketSales.ViewModels
@using System.Globalization
@model TicketViewModel
@{
    Layout = "_Layout";
}


<div class="container py-4">
    <h2 class="mb-4">Your Tickets</h2>
    <div class="row">
        @foreach (var ticket in Model.Tickets)
        {
            <div class="col-md-6 mb-4">
                <div class="card shadow-sm p-3">
                    <h4 class="text-success"><strong>@Model.EventName</strong></h4>
                    <hr>
                    <p><strong>@ticket.TicketType</strong></p>
                    <p>@Model.Location</p>
                    <p>@Model.StartDate.ToString("yyyy-MM-dd HH:mm:ss UTC") - @Model.EndDate?.ToString("yyyy-MM-dd HH:mm:ss UTC")</p>
                    <p><strong>@ticket.Amount @ticket.Currency</strong></p>
                    <p>Ordered by @ticket.FirstName @ticket.LastName on @Model.PurchaseDate.ToString("MMM dd, yyyy 'at' hh:mmtt")</p>
                    <div class="qr-container" style="display: none;">
                        <vc:qr-code data="bitcoin:@(ticket.TicketNumber)" />
                    </div>
                </div>
                
            </div>
        }
    </div>
</div>
