@using BTCPayServer.Abstractions.Contracts
@using BTCPayServer.Plugins.SimpleTicketSales.Data
@using BTCPayServer.Plugins.SimpleTicketSales.ViewModels
@using BTCPayServer.Abstractions.Extensions
@inject IScopeProvider ScopeProvider
@model List<TicketTypeViewModel>
@{
    ViewData.SetActivePage(PluginNavPages.Index, "Tickets Events Type");
    var storeId = ScopeProvider.GetCurrentStoreId();
}


<div class="sticky-header">
    <h2 text-translate="true">@ViewData["Title"]</h2>
    <div class="d-flex gap-3 mt-3 mt-sm-0">
        <a id="create-event" asp-action="ViewEvent" asp-route-storeId="@storeId"
           class="btn btn-success" role="button">
            Create Event
        </a>
    </div>
</div>
<partial name="_StatusMessage" />


@if (Model.Any())
{
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Total Quantity</th>
                    <th>Quantity Sold</th>
                    <th class="actions-col"></th>
                    <th class="w-75px"></th>
                </tr>
            </thead>
            <tbody id="UsersList">
                @foreach (var ticketType in Model)
                {
                    <tr id="event_@ticketType.EventId" class="user-overview-row mass-action-row">
                        <td>
                            <div class="d-inline-flex align-items-center gap-3">
                                <a asp-action="ViewEvent" asp-route-storeId="@storeId" asp-route-eventId="@ticketType.Id">@ticketType.Name</a>
                            </div>
                        </td>
                        <td>@ticketType.Price</td>
                        <td>@ticketType.Quantity</td>
                        <td>@ticketType.QuantitySold</td>
                        <td class="actions-col">
                            <div class="d-inline-flex align-items-center gap-3">
                                <a asp-action="ViewEvent" asp-route-storeId="@storeId" asp-route-eventId="@ticketType.Id">Edit</a>
                            </div>
                        </td>
                        <td class="text-end">
                            <div class="d-inline-flex align-items-center gap-3">
                                <div class="dropdown">
                                    <button class="btn btn-link dropdown-toggle p-0 dropdown-toggle-no-caret text-body" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="ToggleActions-@ticketType.Id">
                                        <vc:icon symbol="dots" />
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li>
                                            <a class="dropdown-item" asp-controller="UITicketType" asp-action="Edit" asp-route-storeId="@storeId" asp-route-userId="@ticketType.Id">Edit</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item"
                                               asp-controller="PayrollUser"
                                               asp-action="ToggleUserStatus"
                                               asp-route-userId="@ticketType.Id"
                                               asp-route-storeId="@storeId"
                                               asp-route-enable="@(ticketType.TicketTypeState == EntityState.Disabled)">
                                                @(ticketType.TicketTypeState == EntityState.Disabled ? "Activate" : "Disable")
                                            </a>
                                        </li>
                                        <li class="dropdown-divider"></li>
                                        <li>
                                            <a asp-controller="PayrollUser"
                                               asp-action="Delete"
                                               asp-route-userId="@ticketType.Id"
                                               asp-route-storeId="@storeId"
                                               class="dropdown-item text-danger">
                                                Delete
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>


                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <p class="text-secondary mt-4">No tickets type found</p>
}